<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ver Encuesta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/css/miEstilo.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/sunburst.css">
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="/js/jquery.min.js"></script>-->
    <!--<script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>-->
    <script src="/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.js" type="text/javascript"></script>
    <script src="/js/angular.js" type="text/javascript"></script>
</head>

<body>


<div class="container">
    <div class="caption">
        <h3 style="text-align: right;color: white; margin-top:5%; margin-right: 37%; margin-bottom: 2%">Realizar Encuesta</h3>
    </div>

    <form action="/" method="post">

        <!--<input type="text" class="form-control" name="id" id="id">-->

        <div class="row">
            <div class="col-md-offset-4 col-md-5">
                <div class="input-group input-group-md form-group">
                    <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" name="nombre" placeholder="Entre el nombre de la encuesta"
                           id="nombre" aria-describedby="sizing-addon1" size="10" pattern=".{4,}" required>
                </div>
            </div>

        </div>

        <br>
        <div class="row">
            <div class="col-md-offset-4 col-md-5">
                <div class="input-group input-group-md form-group">
                    <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-globe"></i></span>
                    <input type="text" class="form-control" name="sector" placeholder="Introducza el sector" id="sector"
                           pattern=".{4,}" max="20" aria-describedby="sizing-addon1" required>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-offset-4 col-md-5">
                <div class="input-group input-group-md form-group">
                    <span class="input-group-addon" id="sizing-addon1"><i
                            class="glyphicon glyphicon-list-alt"></i></span>
                    <select class="form-control" name="nivelEscolar" id="nivelEscolar" required>
                        <option>Seleccionar el nivel escolar</option>
                        <option>Basico</option>
                        <option>Medio</option>
                        <option>Grado Universitario</option>
                        <option>Postgrado</option>
                        <option>Doctorado</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-offset-4 col-md-5">
        <input type="number"  class="form-control" name="latitude" id="latitude" aria-describedby="sizing-addon1"
               size="10" pattern=".{4,}" >
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-4 col-md-5">
        <input type="number" class="form-control" name="longitud" id="longitud" aria-describedby="sizing-addon1"
               size="10" pattern=".{4,}">
            </div>
        </div>


        <br>
        <div class="row">
            <div class="col-md-offset-4 col-md-5 form-group">
                <button onclick="agregarEncuesta()" type="submit" class="btn btn-lg btn-primary btn-block btn-signin form-control"
                        id="IngresoLog">Realizar Encuesta
                </button>
                <!--<div class="col-md-2">-->
                <!--<button onclick="buscarPasteSintaxis()">Buscar Paste Por Sintaxis</button>-->
                <!--</div>-->



                <button onclick="cambiarPaste()" class="btn btn-lg btn-primary btn-block btn-signin form-control" id="modificar" >Modificar Paste</button>


                <button onclick="guardarCambios()" class="btn btn-lg btn-primary btn-block btn-signin form-control" id="guardarModificacion">guardarModificaciones</button>

            </div>
        </div>

        <br>
    </form>

    <div class="row">
        <div class="col-md-offset-4 col-md-5">
            <button onclick="borrarEncuesta()" class="btn btn-lg btn-primary btn-block btn-signin "
                    id="BorrarLog">Borrar Encuesta
            </button>

            <a href="/encuesta/listar">
                <button class="btn btn-lg btn-primary btn-block btn-signin"
                        id="ListarLog">Listar Encuestas
                </button>
            </a>

            <button  class="btn btn-lg btn-primary btn-block btn-signin"
                    id="sincronizar">Sincronizar
            </button>
        </div>
    </div>

</div>

<div id="listaEncuesta"></div>

</body>

<script>
$(document).ready(function () {
    $("#sincronizar").click(function () {
        if (navigator.onLine) {
            listarDatos();
        } else {
            alert('Actualmente el navegador esta offline');
        }

    });
});

    //dependiendo el navegador busco la referencia del objeto.
    var indexedDB = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB

    //indicamos el nombre y la versión
    var dataBase = indexedDB.open("encuesta_db", 1);

    //se ejecuta la primera vez que se crea la estructura
    //o se cambia la versión de la base de datos.
    dataBase.onupgradeneeded = function (e) {
        console.log("Creando la estructura de la tabla");

        //obteniendo la conexión activa
        active = dataBase.result;

        //creando la colección:
        //En este caso, la colección, tendrá un ID autogenerado.
        var encuestas = active.createObjectStore("encuestas", {keyPath: 'nombre', autoIncrement: false});

        //creando los indices. (Dado por el nombre, campo y opciones)
        encuestas.createIndex('por_nombre', 'nombre', {unique: true});

    };

    //El evento que se dispara una vez, lo
    dataBase.onsuccess = function (e) {
        console.log('Proceso ejecutado de forma correctamente');
    };

    dataBase.onerror = function (e) {
        console.error('Error en el proceso: ' + e.target.errorCode);
    };

function sincronizar(lista){
        console.log(lista);
        for (var key in lista) {
            console.log( lista[key].nombre+"/"+lista[key].sector+ "/"
                + lista[key].nivelEscolar+"/"+lista[key].latitude+"/"+ lista[key].longitud);

            $.ajax({
                type: "POST",
                url:'/encuesta/guardar',
                dataType: "JSON",
                contentType:"application/json; charset=utf-8",
                data:JSON.stringify({
                    nombre: lista[key].nombre,
                    sector:lista[key].sector,
                    nivelEscolar:lista[key].nivelEscolar,
                    latitude: lista[key].latitude,
                    longitude: lista[key].longitud

                })
                ,
                success:(function (data) {
                    alert(data.data)
                }),
                error :(function(data){
                    alert(data.data)
                })
            });

        }
        clearData();

}
    function agregarEncuesta() {
        var dbActiva = dataBase.result; //Nos retorna una referencia al IDBDatabase.

        //Para realizar una operación de agreagr, actualización o borrar.
        // Es necesario abrir una transacción e indicar un modo: readonly, readwrite y versionchange
        var transaccion = dbActiva.transaction(["encuestas"], "readwrite");

        //Manejando los errores.
        transaccion.onerror = function (e) {
            alert(request.error.name + '\n\n' + request.error.message);
        };

        transaccion.oncomplete = function (e) {
            document.querySelector("#nombre").value = '';
            alert('Objeto agregado correctamente');
        };

        //abriendo la colección de datos que estaremos usando.
        var encuestas = transaccion.objectStore("encuestas");

        //Para agregar se puede usar add o put, el add requiere que no exista
        // el objeto.



        var request = encuestas.put({

            nombre: document.querySelector("#nombre").value,
            sector: document.querySelector("#sector").value,
            nivelEscolar: document.querySelector("#nivelEscolar").value,
            latitude: document.querySelector("#latitude").value.toString(),
            longitud: document.querySelector("#longitud").value.toString()
            // geoLocalizacion: document.querySelector("#geolocalizacion").value,
            //fechaPublicacion: new Date().toString()
        });

        request.onerror = function (e) {
            var mensaje = "Error: " + e.target.errorCode;
            console.error(mensaje);
            alert(mensaje)
        };

        request.onsuccess = function (e) {
            console.log("Datos Procesado con exito");
            document.querySelector("#nombre").value = "";
            document.querySelector("#sector").value = "";
            document.querySelector("#nivelEscolar").value = "";
            document.querySelector("#latitude").value= "";
            document.querySelector("#longitud").value="";

        };
    }

    /**
     * Permite listar todos los datos digitados.
     */

    function listarDatos() {

        //por defecto si no lo indico el tipo de transacción será readonly
        var data = dataBase.result.transaction(["encuestas"]);
        var encuestas = data.objectStore("encuestas");
        var contador = 0;
        var encuestas_recuperados = [];

        //abriendo el cursor.
        encuestas.openCursor().onsuccess = function (e) {
            //recuperando la posicion del cursor
            var cursor = e.target.result;
            if (cursor) {
                contador++;
                //recuperando el objeto.
                encuestas_recuperados.push(cursor.value);

                //Función que permite seguir recorriendo el cursor.
                cursor.continue();

            } else {
                console.log("La cantidad de registros recuperados es: " + contador);
            }
        };

        //Una vez que se realiza la operación llamo la impresión.
        data.oncomplete = function () {
            //imprimirTabla(encuestas_recuperados);
            sincronizar(encuestas_recuperados);
        }

    }


    /**
     *
     * @param lista_pastes
     */
    function imprimirTabla(lista_encuestas) {
        //creando la tabla...
        var tabla = document.createElement("table");
        var filaTabla = tabla.insertRow();
        filaTabla.insertCell().textContent = "nombre";
        filaTabla.insertCell().textContent = "sector";
        filaTabla.insertCell().textContent = "nivel Escolar";
        //filaTabla.insertCell().textContent = "Geo Localizacion";


        for (var key in lista_encuestas) {
            //
            filaTabla = tabla.insertRow();
            filaTabla.insertCell().textContent = "" + lista_pastes[key].nombre;
            filaTabla.insertCell().textContent = "" + lista_pastes[key].sector;
            filaTabla.insertCell().textContent = "" + lista_pastes[key].nivelEscolar;
            //filaTabla.insertCell().textContent = ""+lista_pastes[key].geoLocalizacion;
        }

        document.getElementById("listaEncuestas").innerHTML = "";
        document.getElementById("listaEncuestas").appendChild(tabla);
    }


    /**
     *
     */
    function buscarEncuesta() {

        //recuperando el id.
        var titulo = prompt("Indique el nombre de la encuesta");
        console.log("titulo digitado: " + titulo);

        //abriendo la transacción en modo readonly.
        var data = dataBase.result.transaction(["encuestas"]);
        var encuestas = data.objectStore("encuestas");

        //buscando paste por la referencia al key.
        encuestas.get(titulo).onsuccess = function (e) {

            var resultado = e.target.result;
            console.log("los datos: " + resultado);

            if (resultado !== undefined) {

                var p = document.createElement("p");
                p.appendChild(document.createTextNode("" + JSON.stringify(resultado)));
                console.log(JSON.stringify(resultado));
                document.getElementById("listaEncuestas").innerHTML = "";
                document.getElementById("listaEncuestas").appendChild(p);
            } else {
                console.log("Paste no encontrado...");
            }
        };

    }



    function borrarEncuesta() {

        var nombre = prompt("Indique el nombre de la persona");
        console.log("sintaxis digitada: " + nombre);

        var data = dataBase.result.transaction(["encuestas"], "readwrite");
        var encuestas = data.objectStore("encuestas");

        encuestas.delete(nombre).onsuccess = function (e) {
            console.log("Encuesta eliminado...");
        };
    }
function clearData() {
    var DBOpenRequest = indexedDB.open("encuesta_db", 1);

    DBOpenRequest.onsuccess = function(event) {
       console.log("base de datos inicializado")

        // Clear all the data form the object store
        // open a read/write db transaction, ready for clearing the data
        var transaction = DBOpenRequest.result.transaction(["encuestas"], "readwrite");
        var encuestas = transaction.objectStore("encuestas");

        // create an object store on the transaction
        var objectStore = transaction.objectStore("encuestas");

        // Make a request to clear all the data out of the object store
        var objectStoreRequest = objectStore.clear();

        objectStoreRequest.onsuccess = function(event) {
          console.log("Base de datos limpiado")
        };
    };


};

    function cambiarPaste() {

        //recuperando el titulo.
        var nombre = prompt("Indique el nombre");
        console.log("titulo digitada: "+nombre);


        //abriendo la transacción en modo escritura.
        var data = dataBase.result.transaction(["encuestas"],"readwrite");
        var pastes = data.objectStore("encuestas");

        //buscando paste por la referencia al key.
        pastes.get(nombre).onsuccess = function(e) {

            var resultado = e.target.result;
            console.log("los datos: "+JSON.stringify(resultado));

            if(resultado !== undefined){
                document.querySelector("#nombre").value = resultado.nombre;
                document.querySelector("#sector").value = resultado.sector;
                document.querySelector("#nivelEscolar").value = resultado.nivelEscolar;

            }else{
                console.log("Pastes no encontrado...");
            }
        };

    }

    function guardarCambios(){
        //abriendo la transacción en modo escritura.
        var data = dataBase.result.transaction(["encuestas"],"readwrite");
        var encuestas = data.objectStore("encuestas");

        //buscando paste por la referencia al key.
        encuestas.get(document.querySelector("#nombre").value).onsuccess = function(e) {

            var resultado = e.target.result;
            console.log("los datos: "+JSON.stringify(resultado));

            if(resultado !== undefined){
                resultado.nombre= document.querySelector("#nombre").value;
                resultado.sector= document.querySelector("#sector").value ;
                resultado.nivelEscolar = document.querySelector("#nivelEscolar").value ;
                resultado.latitude= document.querySelector("#latitude").value.toString();
                resultado.longitud= document.querySelector("#longitud").value.toString();

                var solicitudUpdate = encuestas.put(resultado);

                //eventos.
                solicitudUpdate.onsuccess = function (e) {
                    console.log("Datos Actualizados....");
                }

                solicitudUpdate.onerror = function (e) {
                    console.error("Error Datos Actualizados....");
                }

            }else{
                console.log("Encuesta no encontrada...");
            }
        };
    }

    //Geolocalizacion
    var id, cantidad = 0;
    //Indica las opciones para llamar al GPS.
    var opcionesGPS = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    }

    $(document).ready(function () {

        console.log("Ejemplo de Geolocalizacion");

        //Obteniendo la referencia directa.
        navigator.geolocation.getCurrentPosition(function (geodata) {
            var coordenadas = geodata.coords;
            $("#posicionGps").text("Latitud: " + coordenadas.latitude + ", Longitud: " + coordenadas.longitude + ", Precisión: " + coordenadas.accuracy + " metros");


            $('input[name="latitude"]').val(coordenadas.latitude);
            $('input[name="longitud"]').val(coordenadas.longitude);

        }, function () {
            $("#posicionGps").text("No permite el acceso del API GEO");
        }, opcionesGPS);

        //Obteniendo el cambio de referencia.
        id = navigator.geolocation.watchPosition(function (geodata) {
            var coordenadas = geodata.coords;
            $("#posicionGps2").text("Latitud: " + coordenadas.latitude + ", Longitud: " + coordenadas.longitude + ", Precisión: " + coordenadas.accuracy + " metros, cantidad: " + cantidad);
            cantidad++;
            if (cantidad >= 5) {
                navigator.geolocation.clearWatch(id);
                console.log("Finalizando la trama")
            }
        }, function (error) {
            //recibe un objeto con dos propiedades: code y message.
            $("#posicionGps2").text("No permite el acceso del API GEO. Codigo: " + error.code + ", mensaje: " + error.message);
        });
    });

</script>
</html>